.menu-link{
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color:#2196F3;
}

.header-contact-link {
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #2196F3;
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 1.87;

color: #FFFFFF;
}

.modal-btn:hover,
.modal-btn:focus {
    color:#188CE8;
}