:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color-blue: #2196F3;
    --accent-color-black: #212121;
    --accent-color-gray: #757575;
    }
.link {
    text-decoration: none;
    }

.body {
    font-family: var(--main-font);
    font-weight: 400;
    }
/* ============= HEADER =============*/
.web {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-blue);
    }
.logo-link {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-black); 
    }
.menu-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-black);
    }

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color-blue);
    }
.menu-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-blue);
    }
.menu-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color-blue); 
    }
    
.header-contact-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-gray);
    }
    
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color-blue);
    }
/* ============= END HEADER =============*/

/* ============= HERO =============*/
.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;;
    }
    
.modal-btn:hover,
.modal-btn:focus {
    color: #FFFFFF;
    background: #188CE8;;
    }
    
.hero-title {
    font-weight: 900;
    background-color: #757575;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
/* ============= END HERO =============*/

/* ============= WHY ARE THEY PICKING =============*/
.title-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-black);
    }
    
.description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-gray);
    }
    
/* ============= END WHY ARE THEY PICKING =============*/

/* ============= WHAT WE DOING =============*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-black);
    }
/* ============= END WHAT WE DOING =============*/

/* ============= TEAM =============*/
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-black);
    }
.team-description {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-gray)
    }
/* ============= END TEAM =============*/

/* ============= FOOTER =============*/
.logo-footer {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    }
.footer {
    background: #2F303A;
    }
.footer-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    }
/* ============= END FOOTER =============*/

/* ============= BUTTONS =============*/
.portfolio-button-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-black);
    background: #F5F4FA;
    }

.portfolio-button-list:hover,
.portfolio-button-list:focus {
    color: #FFFFFF;
    background: var(--accent-color-blue);
    }
.portfolio-button-list-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: var(--accent-color-blue);
    }
/* ============= END BUTTONS =============*/

/* ============= MENU =============*/
.portfolio-table-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color-black);
    }
    
.portfolio-table-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--accent-color-gray);
    }
/* ============= END MENU =============*/